<%- include('includes/pre-header'); -%>
<%- include('includes/header'); -%>
<%- include('includes/post-header'); -%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<%- include('includes/footer'); -%>